<html>
	<body>
		<h3>Projects</h3>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<ul>
			{% for proj in projects %}
     		<li style="display: flex; align-items: center;">
				<div style="display: flex; align-items: center;">
					<h3 style="margin-right: 10px;">
						<a href="/project/{{proj. project_id }}">{{ proj.title }}</a></h3>
					
					<form action="/delete/project/{{ proj.project_id }}" method="POST">
						<input type="submit" value="Delete">
					</form>
			</div>
		</li>
   			{% endfor %}
		</ul>
		<br>
		<br>
		<h3> Add a new project </h3>
		<form action="/add/project" method="POST">
			<div>
				Project Name: <input type="text" name="project-title">
				<br>
				<input type="submit" value="Add Project">
			</div>
		</form>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
	</body>
</html>